--extra-index-url https://download.pytorch.org/whl/cu118
torch==2.0.1+cu118
torchvision==0.15.2+cu118
torchaudio==2.0.2+cu118
lightning
torchmetrics
transformers
datasets
scikit-learn
pandas
openpyxl
numpy
tqdm
ipykernel
ipywidgets
seaborn
h5py
